.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: scaleX(1) scaleY(1.9) scaleZ(1) rotateX(0deg) rotateY(-8deg)
    rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
    skewY(0deg);
}
.cube-wrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  /* padding: 10px; */
  line-height: 200px;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
}

.front {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  background-color: #142864e6;
}

.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
  transform: translateZ(-100px) rotateY(180deg);
  background-color: #e86836;
}

.top {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  background-color: #ff00f9;
}
.bottom {
  -webkit-transform: rotateX(270deg) translateY(100px);
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  background-color: #7552bc;
}

.left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: #00ff73;
}

.right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: #ffc900;
}
